<%# app/views/preset_items/_form_tempo.html.erb %>
<%# locals: preset, preset_item, frame_id (для create) %>
<% form_data = { turbo_frame: "_top" } %>

<%= render "shared/work_form",
      model:       [preset, preset_item],
      system:      :tempo,
      frame_id:    (defined?(frame_id) ? frame_id : nil),  # чтобы new рендерился в дневной frame
      submit_text: (preset_item.persisted? ? "Сохранить" : "Создать"),
      form_data:   form_data,
      extra_fields: ->(f) {
        capture do
%>
  <div class="grid grid-cols-3 gap-3">
    <div>
      <label class="ui-label">Вид работ (Tempo)</label>
      <%= f.text_field :tempo_work_kind, class: "ui-input", placeholder: "например: monitoring" %>
    </div>
    <div>
      <label class="ui-label">ЦС Действия</label>
      <%= f.text_field :tempo_cs_action, class: "ui-input", placeholder: "consulting / support" %>
    </div>
    <div>
      <label class="ui-label">ЦС ИС</label>
      <%= f.text_field :tempo_cs_is, class: "ui-input", placeholder: "core / edge" %>
    </div>
  </div>
<%
        end
      } %>
