<%# Партиал для специфичных полей Tempo (ЦС Действия и ЦС ИС)
    locals:
      f: form builder
      model: модель (для определения доступных enum значений)
    
    Примечание: Вид работ (tempo_work_kind) уже включен в основную форму
%>
<% model_class = model.is_a?(Array) ? model.last.class : model.class %>

<div class="grid grid-cols-2 gap-3">
  <div>
    <label class="ui-label">ЦС Действия</label>
    <% options = tempo_attribute_options(:cs_action) %>
    <% if options.any? %>
      <%= f.select :tempo_cs_action,
                   options.map { |attr| [attr.name, attr.value] },
                   { include_blank: true },
                   { class: "ui-select" } %>
    <% else %>
      <%= f.text_field :tempo_cs_action, class: "ui-input", placeholder: "consulting / support" %>
    <% end %>
  </div>
  <div>
    <label class="ui-label">ЦС ИС</label>
    <% options = tempo_attribute_options(:cs_is) %>
    <% if options.any? %>
      <%= f.select :tempo_cs_is,
                   options.map { |attr| [attr.name, attr.value] },
                   { include_blank: true },
                   { class: "ui-select" } %>
    <% else %>
      <%= f.text_field :tempo_cs_is, class: "ui-input", placeholder: "core / edge" %>
    <% end %>
  </div>
</div>
